<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>users:</h1>

    <form action="">
        <input type="search" name="search" value="{{ search }}" placeholder="Search User">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for user in users %}
            <li>
                <a href="{% url 'users-detail' user.id %}">{{user.username}} {{ user.first_name}} {{ user.last_name}}</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>